body {
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  min-width: 840px;
  margin: 20px;
}

header {
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

h1 {
  font-weight: 100;
  font-size: 34px;
  color: #ec5990;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(79, 98, 148);
}

h4 {
  margin-bottom: 5px;
}

main {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: calc(10px + 2vmin);
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  position: relative;
  padding: 20px;
  background-color: #282c34;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: #ec5990;
  border-radius: 100px;
}